body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}


.input {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.input input {
    width: 300px;
    height: 30px;
    font-size: 18px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.operations {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid transparent;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.btn-blue {
    background-color: #0b5ed7;
    border-color: #0b5ed7;
}

.btn-red {
    background-color: #bb2d3b;
    border-color: #bb2d3b;
}

.btn-green {
    background-color: #0f9d58;
    border-color: #0f9d58;
}

.btn-yellow {
    background-color: #facc15;
    border-color: #facc15;
    color: black;
}

.result {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.result input {
    width: 300px;
    height: 30px;
    text-align: left;
    font-size: 18px;
}
