
.service-card {
    width: 450px;
    margin: 80px auto;
    text-align: center;
}

.icon-box {
    width: 180px;
    height: 180px;
    background: #b26a4a;
    margin: 0 auto 30px;
    border-radius: 0 70px 0 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box svg {
    width: 80px;
    filter: brightness(1000%);
}

.service-card h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.2;
}

.service-card p {
    font-size: 18px;
    color: #555;
    line-height: 1.7;
}
